header{
    @include box-shadow( 0px, 3px, 6px, 0px, #666666 );
    @include respond-to( tablet ){
        font-size: 1.5em;
    }

    padding: 1em;

    border-bottom: 1px solid #CCCCCC;

    .fa-bolt{
        color: $surge-overload;
    }
}
