header{
    @include respond-to( tablet ){
        font-size: 1.5em;
    }

    padding: 1em;

    border-bottom: 1px solid #CCCCCC;

    .fa-bolt{
        color: $surge-overload;
    }
}
